{% extends 'base.html' %}

{% block content %}
    <h1>Select a Quiz</h1>

    <div class="list-group">
        {% for quiz_with_grade in quizzes_with_grades %}
        <a href="{% if quiz_with_grade.grade %}{% url 'quiz_report' quiz_with_grade.quiz.pk %}{% else %}{% url 'quiz_take' quiz_with_grade.quiz.pk %}{% endif %}" 
           class="list-group-item list-group-item-action">
            {{ quiz_with_grade.quiz.title }}
            {% if quiz_with_grade.grade %}
                <span class="badge bg-success">Completed</span>
                <span class="badge bg-primary">Grade: {{ quiz_with_grade.grade }}</span>
            {% endif %}
        </a>
        {% endfor %}
    </div>
{% endblock %}