{% extends 'base.html' %}

{% block content %}
    <h1>Event List</h1>
    <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Date and Time</th>
            <th scope="col">Location</th>
            <th scope="col">More Info</th>
        </tr>
        </thead>
        <tbody>
        {% if events %}
            {% for event in events %}
                <tr>
                    <td>{{ event.name }}</td>
                    <td>{{ event.time }}</td>
                    <td>{{ event.location }}</td>
                    <td>
                        {% if event.link %}
                            <a href="{{ event.link }}" class="btn btn-primary">View</a>
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="4">No events found.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}