{% extends 'base.html' %}

{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Welcome to Cool Code Coach Membership Management</h1>
            </div>
            <div class="col-12 text-center">
                <img src="{% static 'crm/images/crm_home.webp' %}" class="img-fluid" alt="Hi!"/>
            </div>
            <div class="col-12 text-center mt-3">
                Developer: {{ records.developer }}
            </div>
        </div>
    </div>
{% endblock %}